<div id="notesapp" class="container">
</div>

<script id="new-note-template" type="text/template">
  <div class="row">
    <div class="span12">
      <form class="form-horizontal">
        <legend>New note</legend>
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input id="title" type="text" placeholder="Title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="body">Body</label>
          <div class="controls">
            <textarea id="body" placeholder="Body" rows="5"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button id="create" type="submit" class="btn">Add</button>
          </div>
        </div>
      </form>
    </div>
</script>

<script id="notes-template" type="text/template">
  <div class="row">
    <div class="span12">
      <ul id="notes"></ul>
    </div>
  </div>
</script>

<script id="note-template" type="text/template">
  <div class="note">
    <h3>{{title}}</h3>
    {{{body}}}
    <p>
      <span class="date">{{date}}</span>
      <a id="{{cid}}" class="remove" href="#" title="Remove this note">remove</a>
    </p>
  </div>
</script>
