<div id="notesapp" class="container">
  <div class="row">
  </div>
</div>

<script id="new-note-template" type="text/template">
  <div class="span12 well">
    <form accept-charset="UTF-8" action="" method="POST">
      <textarea class="span12" id="new_message" name="new_message" placeholder="Type in your message" rows="5"></textarea>
      <button class="btn btn-info" type="submit">Post New Message</button>
    </form>
  </div>
  <!--<form class="form-horizontal">
    <legend>New note</legend>
    <div class="control-group">
      <label class="control-label" for="body">Body</label>
      <div class="controls">
        <textarea id="body" placeholder="Body" rows="5"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button id="create" type="submit" class="btn">Add</button>
      </div>
    </div>
  </form>-->
</script>

<script id="note-template" type="text/template">
  <div class="span12">
    <div class="note">
      <h3>{{title}}</h3>
      {{{body}}}
      <p>
        <span class="date">{{date}}</span>
        <a id="{{cid}}" class="remove" href="#" title="Remove this note">remove</a>
      </p>
    </div>
  </div>
</script>
