<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.email_field :email, :class => 'span4 string email optional', :placeholder => 'Email', :autofocus => 'autofocus' %>
  <%= f.password_field :password, :class => 'span4', :placeholder => 'Password' %>
  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %> Remember Me
    </label>
  <% end -%>
  <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
<% end %>
