<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Notes</a>
      <ul class="nav">
        <li><a href="#new">New</a></li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
